NEXT_PUBLIC_BASE_URL="https://goin.works"
NEXT_PUBLIC_WORDPRESS_API_URL="https://goin.sabako.id"
NEXT_PUBLIC_WORDPRESS_API_HOSTNAME="goin.sabako.id"
HEADLESS_SECRET="<GENERATE_SECRET>"
WP_USER=
WP_APP_PASS=